body {
    background-color: #2B2832;
  }
  .main_header{
    background-color: #2F2F3A;
  }
  .main_body{
    background-color: #38353A;
  }
  .left_side_div{
    
  }
  .right_side_div{

  }
  .main_footer{
    background-color: #000000;
  }
  h1 {
    color: blue;
  }
  p {
    color: red;
  }